<IfModule mod_rewrite.c>
	IndexOptions +Charset=UTF-8
	# Habilitar exploracion de la carpeta
	Options +Indexes
	# Menos
	IndexIgnore *.zip *.txt *.php
	RewriteEngine On
	
	# BEGIN OPTION 1 - COMPLETE
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteRule ^(.*)$ index.php/$1 [L,QSA]
	# END OPTION 1
</IfModule>