<?php 
/* *******************************
 *
 * Developer by FelipheGomez
 *
 * ******************************/

return [
	'driver' => DB_driver,
	'address' => DB_host,
	'port' => DB_port,
	'username' => DB_user,
	'password' => DB_pass,
	'database' => DB_database,
	'middlewares' => 'cors,sanitation',
	'controllers' => 'records,columns,openapi,geojson,cache',
	'cacheType' => 'TempFile',
	'cachePath' => '../../../tmp',
	'cacheTime' => 10,
	'debug' => true,
	'basePath' => '',
	'openApiBase' => '{"info":{"title":"PHP-CRUD-API","version":"1.0.0"}}',
];