<?php 
/* *******************************
 *
 * Developer by FelipheGomez
 *
 * ******************************/

/* CONFIGURACION TABLAS y DB */
define("DB_driver", "mysql");
define("DB_host", "localhost");
define("DB_user", "admin_cms");
define("DB_pass", "admin_cms");
define("DB_database", "admin_cms");
define("DB_charset", "utf8");
define("DB_port", "3306");